.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
  
h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: var(--clr-primary-dark);
  font-weight: 600;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-grey-2);
}

.formGroup input {
  padding: 1rem;
  border: 2px solid var(--clr-grey-9);
  border-radius: 10px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
  background-color: var(--clr-grey-8);
}

.formGroup input:focus {
  border-color: var(--clr-primary);
  box-shadow: 0 0 0 3px var(--clr-primary-light);
  outline: none;
  background-color: white;
}

.loginButton {
  margin-top: 0.8rem;
  padding: 1rem;
  background: linear-gradient(to right, var(--clr-primary), var(--clr-primary-dark));
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginButton:hover {
  background: linear-gradient(to right, var(--clr-primary-dark), var(--clr-primary));
  transform: translateY(-2px);
}

.errorMessage {
  background-color: var(--clr-red-light);
  color: var(--clr-red-dark);
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
  
.demoCredentials {
    font-size: 0.8rem;
    color: #6c7a93;
    background-color: var(--clr-secondary-light);
    padding: 0.5rem;
    border-radius: 6px;
    margin-top: 0.8rem;
  }
  
  .demoCredentials p {
    margin: 0.2rem 0;
  }
  